<!-- prev -->
<div class="storybook__nav_left-container">
    <div onclick="previous()" class="storybook__nav cursor" id="storybook__nav--left">
        <svg width="18px" height="15px" viewBox="0 0 18 15" version="1.1"
            xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <g stroke="none" stroke-width="1" fill="#096DC3" fill-rule="evenodd">
                <g transform="translate(-698.000000, -314.000000)" fill="#096DC3">
                    <g transform="translate(0.000000, 165.000000)">
                        <g transform="translate(657.000000, 20.000000)">
                            <g>
                                <path
                                    d="M49,138 L49,128 L51,128 L51,138 L56.4887695,138 L49.7443848,144.744385 L43,138 L49,138 Z"
                                    transform="translate(49.744385, 136.372192) scale(1, -1) rotate(90.000000) translate(-49.744385, -136.372192) ">
                                </path>
                            </g>
                        </g>
                    </g>
                </g>
            </g>
        </svg>
        <!-- <span>Previous</span> -->
    </div>
</div>