<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 126.9 114.1" style="enable-background:new 0 0 126.9 114.1;" xml:space="preserve">
<title>scroll-down-</title>
<path d="M74.2,60.3L64,70.5L53.7,60.3l1-1l8.6,8.6V43.4h1.4v24.4l8.6-8.5L74.2,60.3z"/>
<path d="M63.9,77.3c-11.2,0-20.4-9.1-20.4-20.3s9.1-20.4,20.3-20.4c11.2,0,20.4,9.1,20.4,20.3c0,0,0,0,0,0.1
	C84.2,68.2,75.1,77.3,63.9,77.3z M63.9,38C53.5,38,45,46.5,45,57c0,10.5,8.5,18.9,19,18.9c10.4,0,18.9-8.5,18.9-18.9
	C82.9,46.5,74.4,38,63.9,38L63.9,38z"/>
</svg>