.form__group  {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  padding: 0 20px;

  @media #{$mq_m} {
      flex-flow: row wrap;
      margin-top: 0px;
  }
}

.form__field{
  display: flex;
  margin-bottom: 25px;

  &:last-child {
      margin-bottom: 0;
  }

  @media #{$mq_m} {
      margin-right: 15px;
      margin-bottom: 0;

      &:last-child {
          margin-right: 0;
          margin-bottom: 0;
      }   
  }  
}

.form__label  {
  font-family: $font-berlingske-serif-regular;
  font-size:23px;

  &--align-center {
      align-self: center;
  }

  @media #{$mq_m} {
      font-size:30px;
  }
}

.form__input {
  background-color: transparent;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  border-radius: 0;
  padding: 10px;
  border-bottom: 1px solid $theme-color-science-blue;

  &::placeholder {
      color: $theme-color-science-blue;
      font-size: 12px;
  }
}

.form__stacked {
  flex-flow: column nowrap;
  align-items: center;

  .form__field {
      margin-top: 15px;
  }
}
