$grid_borderStyle: 1px solid $color_lightGrey;
$grid_sidebarSize: 254px;

.grid  {
  border-top: $grid_borderStyle;
  border-bottom: $grid_borderStyle;

  @media #{$mq_m} {
    display: flex;
    flex-direction: row;
  }

  &:first-child  {
    @media #{$mq_m} {
      border-right: $grid_borderStyle;
    }
  }

  &--borderLess  {
    border: 0 none;
  }
  &--borderTopLess  {
    border-top: 0 none;
  }
  &--borderBottomLess  {
    border-bottom: 0 none;
  }
}

.grid__banner  {
  border-bottom: 1px solid $color_lightGrey;
  padding: 24px;

  @media #{$mq_s_only} {
    border-bottom: 0;
  }


  @media #{$mq_m} {
    padding: 24px 32px;
  }

  &:empty  {
    display: none;
  }
}

.grid__header  {
  border-bottom: 1px solid $color_lightGrey;

  @media #{$mq_m} {
    min-height: 96px;
    padding: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.grid__headerTitle  {
  @media #{$mq_s_only} {
    padding: 32px 24px;
  }

  &:empty  {
    @media #{$mq_s_only} {
      display: none;
    }
  }
}

.grid__headerNav  {
  display: flex;
  flex-direction: row;
  align-items: center;

  @media #{$mq_s_only} {
    min-height: 85px;
    padding: 16px 24px;
    border-top: 1px solid $color_lightGrey;
    justify-content: space-between;
  }
}

.grid__headerNavGroup  {
  display: flex;
  flex-direction: row;
  align-items: center;

  & > * + *  {
    margin-left: 16px;
    @media #{$mq_l} {
      margin-left: 32px;
    }
  }
}

.grid__subNav  {
  border-bottom: 1px solid $color_lightGrey;
}

.grid__subNavList  {
  display: flex;
  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
}

.grid__subNavListItem  {
  & + .grid__subNavListItem  {
    @media #{$mq_m} {
      margin-left: 64px;
    }
  }
}

.grid__subNavListLink  {
  position: relative;
  display: block;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;
  overflow: hidden;

  &::before  {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    content: '';
    height: 4px;
    width: 100%;
    background-color: currentColor;
    @include transition(transform);
    transform: translate(0, 102%);
  }

  &:focus,
  &.is-active,
  &:hover  {
    &::before  {
      transform: translate(0, 0%);
    }
  }
}

.grid__main  {
  position: relative;

  @media #{$mq_m} {


    width: calc(100% - #{$grid_sidebarSize});
    border-left: $grid_borderStyle;
  }

  .grid--inverted &  {
    @media #{$mq_m} {
      border-right: $grid_borderStyle;
      border-left: 0 none;
    }
  }
}

.grid__sidebar  {
  @media #{$mq_s_only} {
    border-top: $grid_borderStyle;
    margin-top: -1px;
  }

  @media #{$mq_m} {
    padding: 24px 32px;
    width: $grid_sidebarSize;
  }
}

.grid__sidebarWidget  {
  @media #{$mq_s_only} {
    padding: 24px;
  }

  & + .grid__sidebarWidget  {
    @media #{$mq_s_only} {
      border-top: 1px solid $color_lightGrey;
    }

    @media #{$mq_m} {
      margin-top: 96px;
    }
  }
}

.grid__content  {

}

.grid__list  {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: -1px;
  overflow: hidden;
}

.grid__item  {
  @include gridItemStyles(1);

  &--s-1  {
    @include gridItemStyles(1);
  }

  &--s-2  {
    @include gridItemStyles(2);
  }

  &--m-2  {
    @media #{$mq_m} {
      @include gridItemStyles(2);
    }
  }

  &--m-3  {
    @media #{$mq_m} {
      @include gridItemStyles(3);
    }
  }

  &--l-3  {
    @media #{$mq_l} {
      @include gridItemStyles(3);
    }
  }

  &--l-4  {
    @media #{$mq_l} {
      @include gridItemStyles(4);
    }
  }

  &--xl-4  {
    @media #{$mq_xl} {
      @include gridItemStyles(4);
    }
  }

  &--xl-5  {
    @media #{$mq_xl} {
      @include gridItemStyles(5);
    }
  }

  &--xxl-4  {
    @media #{$mq_xxl} {
      @include gridItemStyles(4);
    }
  }

  &--xxl-5  {
    @media #{$mq_xxl} {
      @include gridItemStyles(5);
    }
  }

  &--xxl-6  {
    @media #{$mq_xxl} {
      @include gridItemStyles(6);
    }
  }
}

.grid__itemInner  {
  padding: 16px 16px 18px;

  @media #{$mq_m} {
    padding: 32px 32px 24px;
  }
}

.grid__itemAction  {
  margin-top: 20px;

  @media #{$mq_s_only} {
    display: block;
  }


  @media #{$mq_m} {
    margin-top: 24px;
  }
}

.grid__emptyMessage  {
  padding: 48px 24px;

  @media #{$mq_m} {
    padding: 96px 32px;
  }
}

.grid__paginationContainer  {
  min-height: 128px;
  padding: 48px 24px;
}
