.nav {
  &--inline {
    display: flex;
    flex-direction: row;
    align-items: center;

    @include media-query($screen-type-desktop) {
      flex-direction: row-reverse;
    }

    .nav__list {
      display: flex;
      flex-direction: row;
      align-items: center;

      @include media-query($screen-type-desktop) {
        flex-direction: row-reverse;
      }
    }
  }

  &--internal {
    padding: 38px 24px;
    text-align: center;
    border-bottom: 1px solid $color_lightGrey;
    font-family: $font-basis-grotesque-pro-regular;

    .nav__item {
      @media #{$mq_m} {
        display: inline-block;
      }

      & + .nav__item {
        @media #{$mq_s_only} {
          margin-top: 32px;
        }

        @media #{$mq_m} {
          margin-left: 64px;
        }

        @media #{$mq_l} {
          margin-left: 96px;
        }
      }
    }
  }
}
