.notif  {
    display: inline-block;
    vertical-align: middle;
    @include resize-notif(18px);
    padding: 0 3px;
    background-color: $color_darkGrey;
    color: #fff;
    text-align: center;
    font-family: $font-basis-grotesque-pro-regular;
    border: 1px solid #fff;

    @media #{$mq_s_only} {
        font-size: 11px;
    }


    @media #{$mq_m} {
        @include resize-notif(25px);
        padding: 0 5px;
    }
}
