// .storybook__upload_text,
// .header nav.header__nav--primary {
//   background-color: $theme-color-science-blue;
// }

// .storybook__upload_form,
// .header nav.header__nav--secondary {
//   background-color: $theme-color-lavender-fog;
// }

.storybook {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;

  #step2 {
    img.storybook__photo--upload {
      width: 200px;
      height: 200px;
      display: block;
      cursor: pointer;
    }
  }

  #step6 {
    .storybook__gender--female {
      margin-right: 20px;
    }
  }

  .container {
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    .form {
      width: 100%;
      height: 100%;
    }
  }
}

.storybook__section {
  display: none;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  transition:opacity 0.3s ease-in, visibility 0.3s ease-in;
}

.stepActive {
  display: flex;
}

.stepActiveTransition {
  opacity: 1;
  visibility: visible;
}

.storybook__main {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.storybook__sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#storybook .storybook__controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "basis-grotesque-regular";
  font-size: 12px;
  text-transform: uppercase;
  background-color: $theme-color-peach !important;
  color: black;

  .storybook__nav {
    svg {
      width: 30px;
      height: 30px;
    }

    &--right {
      svg {
        position: relative;
        margin-left: 12px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    &--left {
      svg {
        position: relative;
        margin-right: 12px;
      }
    }
  }

  .storybook__nav_left-container {
    width: 50%;
    display: flex;
    padding: 10px 15px;
    justify-content: flex-start;
    #storybook__nav--left {
      display: flex;
    }
  }
  .storybook__nav_right-container {
    width: 50%;
    display: flex;
    padding: 10px 15px;
    justify-content: flex-end;
    #storybook__nav--right {
      display: flex;
    }
  }
}

//<--------------------------------- Step 1 ----------------------------------------->
#step1 {
  #shopify-section-storybook-step-1 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .form__group {
      .form__field {
        margin: 100px 15px;
        margin-bottom: 0;
      }
    }
  }
  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-1 {
      flex-direction: column;
      .form__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-grow: 1;
        padding-top: 14px;
        margin: 240px 0px;
        .form__field {
          margin: 30px 0px;
          margin-bottom: 0;
        }
      }
    }

    .storybook__controls {
      background-color: $theme-color-white;
    }

    // .storybook__nav_left-container {
    //   background-color: $theme-color-white;
    // }
    // .storybook__nav_right-container {
    //   background-color: $theme-color-white;
    // }
  }
}

// <-------------------------------- Step 2 ----------------------------------------->

#step2 {
  #shopify-section-storybook-step-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook__section__upload {
      height: 100%;
      .storybook__upload {
        display: flex;
        height: 100%;
        width: 100%;
        .storybook__upload_text {
          min-width: 50%;
          flex-grow: 1;
          background-color: $theme-color-science-blue;
          .upload-text-inner {
            display: flex;
            color: $theme-color-white;
            align-items: center;
            padding: 0px 50px;
            height: 100%;
          }
        }
        .storybook__upload_form {
          padding-top: 115px;
          min-width: 50%;
          height: 100%;
          background-color: $theme-color-lavender-fog;
          .storybook_upload_form-inner {
            height: 100%;
            color: $theme-color-white;
            display: flex;
            align-items: center;
            padding: 0px 50px;
            .form__group {
              width: 100%;
              .form__field {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                margin: 0;
                .storybook_photoUpload_Input {
                  display: block;
                  margin: 28px 0;
                  input[type="file"] {
                    height: 0;
                    overflow: hidden;
                    width: 0;
                  }

                  input[type="file"] + label {
                    cursor: pointer;
                    display: inline-block;
                    border: none;
                    outline: none;
                    border-radius: 50%;
                    width: 250px;
                    height: 250px;

                    // &:hover {
                    //   background-color: darken(#f15d22, 10%);
                    // }
                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
                .btn-upload-button {
                  display: inline-block;
                  outline: none;
                  padding: 10px 14px;
                  font-size: 14px;
                  border: 2px $theme-color-science-blue solid;
                  color: $theme-color-science-blue;
                  background: $theme-color-lavender-fog;
                }
              }
            }
          }
        }
      }
    }
  }

  .storybook__nav_left-container {
    // background-color: $theme-color-science-blue;
  }
  .storybook__nav_right-container {
    // background-color: $theme-color-lavender-fog;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-2 {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-grow: 1;
      .storybook__section__upload {
        .storybook__upload {
          flex-direction: column;
          .storybook__upload_text {
            max-width: 100%;
            height: 100%;
            min-width: 100%;
            padding: 0px;
            .upload-text-inner {
              text-align: center;
              margin: 240px 0px 80px 0px;
            }
          }
          .storybook__upload_form {
            max-width: 100%;
            height: 100%;
            min-width: 100%;
            padding: 0px;
            background: $theme-color-science-blue;
            .storybook_upload_form-inner {
              margin: 0px 0px 100px 0px;
              .form__group {
                .form__field {
                  .storybook_photoUpload_Input {
                    input[type="file"] + label {
                      width: 180px;
                      height: 180px;
                    }
                  }
                  .btn-upload-button {
                    border-color: $theme-color-white;
                    color: $theme-color-white;
                    background: none;
                  }
                }
              }
            }
          }
        }
      }
    }

    .storybook__nav_left-container {
      // background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      // background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 3, 4 and 5 --------------------------------------------------->

#step3,
#step4,
#step5 {
  #shopify-section-storybook-step-3,
  #shopify-section-storybook-step-4,
  #shopify-section-storybook-step-5 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    background: $theme-color-peach;
    .form__group {
      .form__field {
        margin: 100px 15px;
        margin-bottom: 0;
      }
    }
  }

  .storybook__nav_left-container {
    // background-color: $theme-color-peach;
  }
  .storybook__nav_right-container {
    // background-color: $theme-color-peach;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-3,
    #shopify-section-storybook-step-4,
    #shopify-section-storybook-step-5 {
      flex-direction: column;
      .form__group {
        display: flex;
        flex-direction: column;
        align-items: center;
        // flex-grow: 1;
        padding-top: 14px;
        margin: 240px 0px;
        .form__field {
          margin: 30px 0px;
          margin-bottom: 0;
        }
      }
    }

    .storybook__nav_left-container {
      // background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      // background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 6 --------------------------------------------------->
#step6 {
  #shopify-section-storybook-step-6 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook-gender-container {
      flex-grow: 1;
      height: 100%;
      .storybook-gender {
        display: flex;
        height: 100%;
        align-items: center;
        .storybook-gender-text-container {
          height: 100%;
          flex-grow: 1;
          background: $theme-color-yellow;
          .storybook-gender-text {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0px 80px;
          }
        }
        .storybook-gender-option-container {
          flex-grow: 1;
          background-color: $theme-color-grey;
          display: flex;
          align-items: center;
          height: 100%;
          .storybook-gender-option-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            .storybook-gender-option-choice {
              height: 100%;
              width: 100%;
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              .storybook-gender-option-female-container {
                .storybook-gender-option-female {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .storybook-gender-option-female-image {
                    height: 150px;
                    width: 145px;
                    display: flex;
                    input[type="radio"] {
                      margin: 0;
                      padding: 0;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                    }
                    input[type="radio"] + label:before,
                    input[type="radio"] + label:after {
                      display: none;
                    }
                    label {
                      width: 100%;
                      height: 100%;
                      .female-image-container {
                        background: url("gender-female-image.png");
                        background-position: center top;
                        background-size: cover;
                        background-color: gray;
                        opacity: 0.2;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        &:hover {
                          opacity: 1;
                        }
                      }
                    }
                    input[type="radio"]:checked + label {
                      .female-image-container {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              .storybook-gender-option-male-container {
                .storybook-gender-option-male {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .storybook-gender-option-male-image {
                    height: 150px;
                    width: 145px;
                    display: flex;
                    input[type="radio"] {
                      margin: 0;
                      padding: 0;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                    }
                    input[type="radio"] + label:before,
                    input[type="radio"] + label:after {
                      display: none;
                    }
                    label {
                      width: 100%;
                      height: 100%;
                      .male-image-container {
                        background: url("gender-male-image.png");
                        background-position: center bottom;
                        background-size: cover;
                        background-color: gray;
                        opacity: 0.2;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        &:hover {
                          opacity: 1;
                        }
                      }
                    }
                    input[type="radio"]:checked + label {
                      .male-image-container {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .storybook__nav_left-container {
    // background-color: $theme-color-yellow;
  }
  .storybook__nav_right-container {
    // background-color: $theme-color-grey;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-6 {
      .storybook-gender-container {
        .storybook-gender {
          flex-direction: column;
          .storybook-gender-text-container {
            width: 100%;
            max-width: 100%;
            .storybook-gender-text {
              text-align: center;
              margin: 240px 0px 80px 0px;
            }
          }
          .storybook-gender-option-container {
            width: 100%;
            max-width: 100%;
            background: $theme-color-yellow;
            .storybook-gender-option-inner {
              margin: 0px 0px 100px 0px;
              padding: 0px;
              .storybook-gender-option-text {
                margin: 20px 0px;
              }
            }
          }
        }
      }
    }

    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 7 --------------------------------------------------->

#step7 {
  #shopify-section-storybook-step-7 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
  }

  .storybook__nav_left-container {
    background-color: $theme-color-white;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-grey;
  }

  @include media-query($screen-type-desktop) {
    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}
// <---------------------------------------- STEP 8 and 9 --------------------------------------------------->

#step8 {
  #shopify-section-storybook-step-8 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
  }
  @include media-query($screen-type-desktop) {
    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}

#step9 {
  #shopify-section-storybook-step-9 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook_intro-container {
      flex-grow: 1;
      height: 100%;
      padding: 0px 100px;
      .intro-container {
        display: flex;
        align-items: center;
        height: 100%;
      }
    }
  }
  @include media-query($screen-type-desktop) {
    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 10 --------------------------------------------------->

#step10 {
  #shopify-section-storybook-step-10 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook-pages-container {
      height: 100%;
      width: 100%;
      .storybook-page-container {
        display: flex;
        .storybook-page-avatar-container {
          display: flex;
          flex-grow: 1;
          background: $theme-color-white;
          .storybook-page-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            height: 100%;
            img {
              height: 100%;
              width: 100%;
              flex-grow: 1;
            }
          }
        }
        .storybook-page-text-container {
          flex-grow: 1;
          .storybook-page-text {
            flex-grow: 1;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            textarea {
              border: 1px solid #096dc3;
              color: #096dc3;
              background: transparent;
              padding: 10px;
              min-height: 300px;
              min-width: 400px;
              width: 70%;
              overflow: auto;
              max-height: 100%;
              margin: 0px;
            }
          }
        }
      }
    }
  }
  .storybook__nav_left-container {
    background-color: $theme-color-white;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-iceberg;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-10 {
      .storybook-pages-container {
        .storybook-page-container {
          flex-direction: column-reverse;
          .storybook-page-avatar-container {
            width: 100%;
            max-width: 100%;
          }
          .storybook-page-text-container {
            width: 100%;
            max-width: 100%;
            .storybook-page-text {
              margin: 150px 20px 60px 20px;
              textarea {
                min-height: 200px;
                min-width: 300px;
              }
            }
          }
        }
        .storybook-page-container {
          &:first-child {
            .storybook-page-text-container {
              .storybook-page-text {
                margin: 250px 20px 60px 20px;
              }
            }
          }
        }
      }
    }
    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 11 --------------------------------------------------->

#step11 {
  #shopify-section-storybook-step-11 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook-cover-container {
      flex-grow: 1;
      height: 100%;
      .storybook-cover {
        display: flex;
        height: 100%;
        align-items: center;
        .storybook-cover-text-container {
          height: 100%;
          flex-grow: 1;
          .storybook-cover-text {
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0px 80px;
          }
        }
        .storybook-cover-option-container {
          flex-grow: 1;
          background-color: $theme-color-grey;
          display: flex;
          align-items: center;
          height: 100%;
          .storybook-cover-option-inner {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-grow: 1;
            padding-top: 100px;
            width: 100%;
            height: 100%;
            .storybook-cover-option-choice {
              height: 100%;
              width: 100%;
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: space-evenly;
              .storybook-cover-option-softcover-container {
                .storybook-cover-option-softcover {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .storybook-cover-option-softcover-image {
                    height: 150px;
                    width: 145px;
                    display: flex;
                    input[type="radio"] {
                      margin: 0;
                      padding: 0;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                    }
                    input[type="radio"] + label:before,
                    input[type="radio"] + label:after {
                      display: none;
                    }
                    label {
                      width: 100%;
                      height: 100%;
                      .softcover-image-container {
                        background: url("gender-male-image.png");
                        background-position: center bottom;
                        background-size: cover;
                        background-color: gray;
                        opacity: 0.2;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        &:hover {
                          opacity: 1;
                        }
                      }
                    }
                    input[type="radio"]:checked + label {
                      .softcover-image-container {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
              .storybook-cover-option-hardover-container {
                .storybook-cover-option-hardcover {
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  .storybook-cover-option-hardcover-image {
                    height: 150px;
                    width: 145px;
                    display: flex;
                    input[type="radio"] {
                      margin: 0;
                      padding: 0;
                      -webkit-appearance: none;
                      -moz-appearance: none;
                      appearance: none;
                    }
                    input[type="radio"] + label:before,
                    input[type="radio"] + label:after {
                      display: none;
                    }
                    label {
                      width: 100%;
                      height: 100%;
                      .hardcover-image-container {
                        background: url("gender-male-image.png");
                        background-position: center bottom;
                        background-size: cover;
                        background-color: gray;
                        opacity: 0.2;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        &:hover {
                          opacity: 1;
                        }
                      }
                    }
                    input[type="radio"]:checked + label {
                      .hardcover-image-container {
                        opacity: 1;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .storybook__nav_left-container {
    background-color: $theme-color-iceberg;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-grey;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-11 {
      .storybook-cover-container {
        .storybook-cover {
          flex-direction: column;
          .storybook-cover-text-container {
            width: 100%;
            max-width: 100%;
            .storybook-cover-text {
              text-align: center;
              margin: 240px 0px 80px 0px;
            }
          }
          .storybook-cover-option-container {
            width: 100%;
            max-width: 100%;
            background: $theme-color-iceberg;
            .storybook-cover-option-inner {
              margin: 0px 0px 100px 0px;
              padding: 0px;
              .storybook-cover-option-text {
                margin: 20px 0px;
              }
            }
          }
        }
      }
    }

    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}

// <---------------------------------------- STEP 11 --------------------------------------------------->

#step12 {
  #shopify-section-storybook-step-12 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: $theme-color-science-blue;
    align-items: center;
    flex-grow: 1;
    .preview-container {
      flex-grow: 1;
      height: 100%;
      .preview-inner {
        flex-grow: 1;
        height: 100%;
        display: flex;
        .preview-image-container {
          background: $theme-color-yellow;
          display: flex;
          background: #ffff9d;
          .preview-image-inner {
            display: flex;
            flex-direction: column;
            padding-top: 100px;
            .preview-image-avatar {
              padding: 60px 90px 100px 90px;
              img {
                background: $theme-color-white;
              }
            }
          }
        }
        .preview-text-container {
          display: flex;
          background: $theme-color-white;
          .preview-text-inner {
            display: flex;
            flex-direction: column;
            padding: 140px 80px 60px 110px;
            .preview-text-heading {
              h2 {
                font-weight: 500;
              }
            }
            .preview-text-intro {
              font-weight: 500;
            }
            .preview-text-story {
              .preview-text-story-inner {
                p {
                  font-weight: 400;
                }
              }
            }
            .preview-add-to-bag-button {
              display: flex;
              justify-content: center;
              padding-top: 20px;
              .btn-preview-bag {
                display: inline-block;
                outline: none;
                padding: 6px;
                border: 2px $theme-color-science-blue solid;
                color: $theme-color-science-blue;
                background: none;
                text-align: center;
                text-decoration: none;
              }
            }
          }
        }
      }

      .preview-inner {
        &:first-child {
          .preview-text-container {
            .preview-text-inner {
              padding: 100px 80px 60px 110px;
            }
          }
        }
      }

      .preview-inner {
        &:last-child {
          .preview-text-container {
            .preview-text-inner {
              .preview-text-story-inner {
                flex: 1;
              }
            }
          }
        }
      }
    }
  }
  .storybook__nav_left-container {
    background-color: $theme-color-yellow;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-white;
  }

  @include media-query($screen-type-desktop) {
    #shopify-section-storybook-step-12 {
      .preview-container {
        .preview-inner {
          flex-direction: column-reverse;
          .preview-image-container {
            width: 100%;
            .preview-image-inner {
              padding-top: 60px;
              .preview-image-avatar {
                padding: 60px 90px 60px 90px;
              }
            }
          }
          .preview-text-container {
            width: 100%;
            .preview-text-inner {
              padding: 250px 80px 70px 110px;
            }
          }
        }
      }
    }
    .storybook__nav_left-container {
      background-color: $theme-color-white;
    }
    .storybook__nav_right-container {
      background-color: $theme-color-white;
    }
  }
}
