.header {
  nav.header__nav--primary {
    ul.header__navList > li > a {
      color: $theme-color-white;
    }
  }

  nav.header__nav--secondary {
    ul.header__navList > li > a {
      color: $theme-color-science-blue;
    }
  }

  svg.logo {
    path {
      fill: $theme-color-science-blue;
    }
  }
}

// .storybook__upload_text,
// .header nav.header__nav--primary {
//   background-color: $theme-color-science-blue;
// }

// .storybook__upload_form,
// .header nav.header__nav--secondary {
//   background-color: $theme-color-lavender-fog;
// }

@include media-query($screen-type-desktop) {
  .header nav.header__nav--primary,
  .header nav.header__nav--secondary {
    background-color: $theme-color-white;
  }
}

.storybook {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  flex-direction: column;

  .container {
    width: 100%;
    height: 100%;
    max-width: none;
    padding: 0;
    margin: 0;
    .form {
      width: 100%;
      height: 100%;
    }
  }
}

.storybook__section {
  display: none;
  width: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.stepActive {
  display: flex;
}

.storybook__main {
  display: flex;
  width: 100%;
  flex-grow: 1;
}

.storybook__sections {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.storybook__controls {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "basis-grotesque-regular";
  font-size: 12px;
  text-transform: uppercase;
  color: black;

  .storybook__nav {
    &--right {
      svg {
        position: relative;
        margin-left: 12px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
      }
    }

    &--left {
      svg {
        position: relative;
        margin-right: 12px;
      }
    }
  }

  .storybook__nav_left-container {
    width: 50%;
    display: flex;
    padding: 10px 15px;
    justify-content: flex-start;
    #storybook__nav--left {
      display: flex;
    }
  }
  .storybook__nav_right-container {
    width: 50%;
    display: flex;
    padding: 10px 15px;
    justify-content: flex-end;
    #storybook__nav--right {
      display: flex;
    }
  }
}

//<--------------------------------- Step 1 ----------------------------------------->

#shopify-section-storybook-step-1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  @include media-query($screen-type-desktop) {
    flex-direction: column;
    .form__group {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      margin-top: 16%;
    }
  }
}

// <-------------------------------- Step 2 ----------------------------------------->

#step2 {
  #shopify-section-storybook-step-2 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook__section__upload {
      height: 100%;
      .storybook__upload {
        align-items: center;
        height: 100%;
        width: 100%;
        display: flex;
        .storybook__upload_text {
          padding-top: 100px;
          min-width: 50%;
          height: 100%;
          background-color: $theme-color-science-blue;
          .storybook-text-inner {
            display: flex;
            color: $theme-color-white;
            align-items: center;
            padding: 0px 50px;
            height: 100%;
          }
        }
        .storybook__upload_form {
          padding-top: 115px;
          min-width: 50%;
          height: 100%;
          background-color: $theme-color-lavender-fog;
          .storybook_upload_form-inner {
            height: 100%;
            color: $theme-color-white;
            display: flex;
            align-items: center;
            padding: 0px 50px;
            .form__group {
              width: 100%;
              .form__field {
                width: 100%;
                height: fit-content;
                display: flex;
                justify-content: center;
                margin: 0;
                .storybook_photoUpload_Input {
                  display: block;
                  margin: 60px 0;
                  input[type="file"] {
                    height: 0;
                    overflow: hidden;
                    width: 0;
                  }

                  input[type="file"] + label {
                    background: $theme-color-white;
                    color: black;
                    border: none;
                    border-radius: 50%;
                    width: 10rem;
                    height: 10rem;
                    color: #fff;
                    cursor: pointer;
                    display: inline-block;
                    font-family: "Poppins", sans-serif;
                    font-size: inherit;
                    font-weight: 600;
                    outline: none;
                    padding: 1rem 50px;
                    transition: all 0.3s;
                    vertical-align: middle;

                    &:hover {
                      background-color: darken(#f15d22, 10%);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .storybook__nav_left-container {
    background-color: $theme-color-science-blue;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-lavender-fog;
  }
}

// <---------------------------------------- STEP 3, 4 and 5 --------------------------------------------------->

#shopify-section-storybook-step-3,
#shopify-section-storybook-step-4,
#shopify-section-storybook-step-5 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;

  @include media-query($screen-type-desktop) {
    flex-direction: column;
    .form__group {
      display: flex;
      flex-direction: column;
      justify-content: right;
      align-items: center;
      margin-top: 16%;
    }
  }
}

// <---------------------------------------- STEP 6 --------------------------------------------------->
#shopify-section-storybook-step-6 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  .form__group {
    height: 100%;
    width: 100%;
    .form__field {
      height: 100%;
      width: 100%;
      .storybook_gender-container {
        height: 100%;
        width: 100%;
        display: flex;
        align-items: center;
        .storybook_gender_text-container {
          width: 50%;
          padding: 0px 20px;
        }
        .storybook_gender_selection-container {
          width: 50%;
          padding: 0px 20px;
          .storybook_gender_selection {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .storybook_gender_female-inner,
            .storybook_gender_male-inner {
              position: relative;
              height: 130px;
              width: 136px;
              .storybook_gender-female-image,
              .storybook_gender-male-image {
                height: 130px;
                width: 136px;
                img {
                  height: 130px;
                  width: 136px;
                  border-radius: 50%;
                }
              }

              .storybook_gender-female-input,
              .storybook_gender-male-input {
                position: absolute;
                left: 130px;
              }
            }
          }
        }
      }
    }
  }
}

// <---------------------------------------- STEP 7 --------------------------------------------------->

#shopify-section-storybook-step-7 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

// <---------------------------------------- STEP 8 and 9 --------------------------------------------------->

#shopify-section-storybook-step-8,
#shopify-section-storybook-step-9 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
}

// <---------------------------------------- STEP 10 --------------------------------------------------->

#step10 {
  #shopify-section-storybook-step-10 {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-grow: 1;
    .storybook-pages-container {
      height: 100%;
      width: 100%;
      .storybook-page-container {
        display: flex;
        .storybook-page-avatar-container {
          display: flex;
          flex-grow: 1;
          background: $theme-color-white;
          .storybook-page-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-grow: 1;
            height: 100%;
            img {
              height: 100%;
              width: 100%;
              flex-grow: 1;
            }
          }
        }
        .storybook-page-text-container {
          flex-grow: 1;
          .storybook-page-text {
            flex-grow: 1;
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            textarea {
              border: 1px solid $theme-color-science-blue;
              color: rgb(9, 109, 195);
              background: transparent;
              padding: 10px;
              min-height: 40%;
              width: 70%;
              overflow: auto;
              max-height: 100%;
              margin: 0px;
            }
          }
        }
      }
    }
  }
  .storybook__nav_left-container {
    background-color: $theme-color-white;
  }
  .storybook__nav_right-container {
    background-color: $theme-color-iceberg;
  }
}
