.title  {
  font-family: $font-basis-grotesque-pro-regular;
  line-height: 1em;
  font-size: 36px;

  @media #{$mq_m} {
    font-size: 64px;
  }

  &--oneWordPerLine  {
    word-spacing: 9999rem;
  }

  &--caps  {
    text-transform: uppercase;
  }

  &--headline  {
    font-size: 64px;
    text-transform: uppercase;

    @media #{$mq_m} {
      font-size: 128px;
    }
  }

  &--destructured  {
    font-size: 64px;

    @media #{$mq_m} {
      font-size: 112px;
    }
  }

  &--internal  {
    font-size: 48px;
  }

  &--small  {
    font-size: 20px;
  }

  &--medium  {
    font-size: 24px;

    @media #{$mq_m} {
      font-size: 48px;
    }
  }
}
