.about {
  .header {
    nav.header__nav--primary {
      ul.navigation > li > a {
        color: $theme-color-science-blue;
      }
    }

    nav.header__nav--secondary {
      background-color: $theme-color-peach;
      ul.navigation > li > a {
        color: $theme-color-science-blue;
      }
    }

    svg.logo {
      path {
        fill: $theme-color-science-blue;
      }
    }
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: none;
    position: relative;
  }

  .content p {
    font: {
      family: $font-berlingske-serif-regular;
      weight: bold;
    }
  }

  .bg-left {
    background-color: $theme-color-white;
    width: 50%;
  }

  .bg-right {
    width: 50%;
    padding: 10% 8%;
    font-size: 140%;
  }

  .about-section {
    display: flex;
    text-align: center;
  }

  .about-section {
    & .arrow {
      display: block;
      position: relative;
      bottom: -30px;
      text-align: center;

      svg {
        width: 100px;
        height: 100px;
        fill: $theme-color-science-blue;
      }
    }
  }

  .about-section:nth-child(odd) {
    & .bg-right {
      color: $theme-color-science-blue;
      background-color: $theme-color-peach;
    }
  }

  .about-section:nth-child(even) {
    & .bg-right {
	  color: $theme-color-purple-rain;
	  background-color: $theme-color-peach;
    //   background-color: $theme-color-iceberg;
    }
  }

  @include media-query($screen-type-desktop) {
    .row {
      flex-direction: column-reverse;
    }
    .bg-left,
    .bg-right {
      width: 100%;
    }

    .about-section:nth-child(even) {
      & .bg-right {
        padding-top: 275px;
      }
    }
  }
}
