#cart-container-id {
  display: flex;
  flex-grow: 1;
  max-width: none;
  background-color: $theme-color-grey;
  color: $theme-color-science-blue;
  .cart-main {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    .shopping-bag-non-empty {
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 12px;
      .shopping-bag-container {
        width: 100%;
        flex-grow: 1;
        form {
          width: 100%;
          flex-grow: 1;
          .shopping-bag-container-inner {
            width: 100%;
            height: 100%;
            flex-grow: 1;
            padding: 0px 16px;
            .shopping-bag-info-container {
              width: 100%;
              flex-grow: 1;
              display: flex;
              .shopping-bag-info {
                display: flex;
                width: 100%;
                flex-grow: 1;
                padding-bottom: 10px;
                .shopping-bag-product-info {
                  margin-left: 20px;
                  min-width: 20%;
                }
                .shopping-bag-Total-info {
                  min-width: 20%;
                }
                .shopping-bag-quantity-info {
                  min-width: 20%;
                }
                .shopping-bag-price-info {
                  min-width: 20%;
                }
              }
            }
            .shopping-bag-items-collection-container {
              display: flex;
              flex-grow: 1;
              width: 100%;
              border: 2px solid $theme-color-science-blue;
              border-right: none;
              border-left: none;
              .shopping-bag-items-collection {
                display: flex;
                width: 100%;
                flex-grow: 1;
                flex-direction: column;
                .shopping-bag-item-container {
                  flex-grow: 1;
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  .shopping-bag-item {
                    width: 100%;
                    display: flex;
                    margin: 12px 0px;
                    .shopping-bag-product-image-name {
                      display: flex;
                      align-items: center;
                      min-width: 20%;
                      margin-left: 20px;
                      .shopping-bag-product-image {
                        height: 50px;
                        width: 50px;
                        margin-right: 8px;
                        img {
                          height: 100%;
                          width: 100%;
                        }
                      }
                    }
                    .shopping-bag-product-price {
                      min-width: 20%;
                    }
                    .shopping-bag-product-quantity {
                      min-width: 20%;
                    }
                    .shopping-bag-product-total-price {
                      min-width: 20%;
                    }
                    .shopping-bag-product-remove {
                      a {
                        color: $theme-color-science-blue;
                      }
                    }
                  }
                }
              }
            }
          }
          .shopping-bag-subtotal-checkout-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            flex-grow: 1;
            .shopping-bag-subtotal-container{
              .shopping-bag-subtotal-title{
                margin-bottom: 0px;
              }
              .shopping-bag-subtotal-price{
                margin-top: 0px;
              }
            }
            .shopping-bag-checkout-btn-container {
              display: inline-block;
              outline: none;
              padding: 2px;
              border: 2px $theme-color-science-blue solid;
              color: $theme-color-science-blue;
              background: none;
              text-align: center;
              text-decoration: none;
              button {
                background: none;
                border: none;
                color: $theme-color-science-blue;
              }
            }
          }
        }
      }
    }
  }
}
