.contact {
  .header {
    nav.header__nav--primary {
      background-color: $theme-color-science-blue;
      ul.header__navList > li > a {
        color: $theme-color-white;
      }
    }

    nav.header__nav--secondary {
      background-color: $theme-color-lavender-fog;
      ul.header__navList > li > a {
        color: $theme-color-science-blue;
      }
    }

    svg.logo {
      path {
        fill: $theme-color-science-blue;
      }
    }

    @include media-query($screen-type-desktop) {
      nav.header__nav--primary,
      nav.header__nav--secondary {
        background-color: $theme-color-white;
      }
    }
  }

  .container {
    margin: 0;
    padding: 0;
    max-width: none;
    position: relative;
  }

  .content p {
    font: {
      family: $font-berlingske-serif-regular;
      weight: bold;
      font-size: 140%;
    }
  }

  .bg-left,
  .bg-right {
    width: 50%;
    padding: 270px 70px 190px 70px;
  }

  .bg-left {
    color: $theme-color-white;
    background-color: $theme-color-science-blue;
  }

  .bg-right {
    color: $theme-color-science-blue;
    background-color: $theme-color-lavender-fog;

    a.email-id {
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 140%;
      font-weight: bold;
      color: $theme-color-science-blue;
    }
  }

  .contact-section {
    display: flex;
    text-align: left;
  }

  .contact-section {
    & .arrow {
      display: block;
      position: relative;
      bottom: -30px;
      text-align: center;

      svg {
        width: 100px;
        height: 100px;
        fill: $theme-color-science-blue;
      }
    }
  }

  @include media-query($screen-type-desktop) {
    .row {
      flex-direction: column;
    }
    .bg-left,
    .bg-right {
      width: 100%;
      padding: 15% 8% 15% 8%;
    }
    .bg-left {
      padding-top: 275px;
    }
  }
}
