<footer class="footer">
    <div class="footer__bar footer__bar--top">
        <nav class="footer__nav footer__nav--primary">
            <ul class="footer__navList">
                {% for link in linklists.footer.links %}
                    <li>
                        <a class="link link--thick link--discrete" href="{{ link.url }}" title="{{ link.title }}">{{ link.title }}</a>
                    </li>
                {% endfor %}
                <li>
                    <a target="_blank" rel="nofollow" href="https://www.instagram.com/unlabel_us/" title="Share on Instagram"><span class="fonticon fonticon--instagram fonticon--smallBox"></span></a>
                </li>
            </ul>
        </nav>
    </div>
</footer>