<div class="form__group form__stacked">
    <div class="form__field">
        <label class="form__label">
            Select Gender
        </label>
    </div>
    <div class="form__field">
        <div class="storybook__gender storybook__gender--female">
            <input id="female-type" name="Gender" type="radio" value="female" checked/>
            <label for="female-type" class="form__label">
                Female
            </label>
        </div>
        
        <div class="storybook__gender storybook__gender--male">
            <input id="male-type" name="Gender" type="radio" value="male"/>
            <label for="male-type" class="form__label">
                Male
            </label>
        </div>
    </div>
</div>