<div id="wrapper" class="fw">
    <!-- block content -->
    <div id="constructor">
        <div class="width-setter">

            <div id="constructor-panel" class="pixel">
                <div class="viewport">

                    <!------- Avatars and Layers --------->

                    <div class="avatar-layers">

                        <!-- This Contains the Current Avatar -->
                        <div class="avatar-container">
                            <div class="carousel slide">
                                <div class="carousel-inner">
                                    <div class="item"></div>
                                </div>
                            </div>
                        </div>

                        <!------- Contains the Images -------->
                        <div class="layers-container">
                            <div class="layers">
                                <div class="layer">
                                    <div class="item"><span></span></div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <!------- Tabs and Subtabs ----------->

                    <div class="tabs-subtabs">
                        <!-- This Contains the Navigation Bar -->
                        <div class="tabs-subtabs-container">
                            <div class="tabs-container">
                                <div class="tabs-bar">
                                    <div class="prev-tab">
                                        <span class="prev-tab-click clickable">Previous</span>
                                    </div>
                                    <ul class="tabs">
                                        <li class="tab"><a href="javascript://" class="tab-text"></a></li>
                                    </ul>
                                    <div class="next-tab">
                                        <span class="next-tab-click clickable">Next</span>
                                    </div>
                                </div>
                            </div>

                            <!-- This Contains the Sub Navbar for a Tab -->
                            <div class="subtab-container">
                                <div class="subtab-container-inner">
                                    <div class="subtab-bar">
                                        <div class="subtab-bar-container">
                                            <div class="subtab-bar-container-inner">
                                                <ul class="subtabNav" id="#subtabNavId">
                                                    <li class="subtab-item"><a href="javascript://"
                                                            class="subtab-tex"></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!------- Download Button ------------>

                    <!-- <div id="action-buttons" class="responsive">
                        <div class="btn-group">
                            <button class="downbutton download" data-action="https://09a6e81a.ngrok.io/constructor/download/">Download</button>
                        </div>
                    </div> -->

                </div>

            </div>

        </div>
        <!-- csrf_token -->
    </div>

</div>