<div class="preview-container">
    <div class="preview-inner">
        <div class="preview-image-container half-width">
            <div class="preview-image-inner">
                <div class="preview-image-avatar">
                    <img src="{{- 'PersonAvatar.png' | asset_url -}}" alt="Person Avatar Image">
                </div>
                <div class="preview-image-avatar">
                    <img src="{{- 'PersonAvatar.png' | asset_url -}}" alt="Person Avatar Image">
                </div>
            </div>
        </div>
        <div class="preview-text-container half-width">
            <div class="preview-text-inner">
                <div class="preview-text-heading">
                    <h2>Preview Your Book</h2>
                </div>
                <div class="preview-text-intro">
                    <h3>INTRO</h3>
                </div>
                <div class="preview-text-story">
                    <div class="preview-text-story-inner">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>