<div id="storybook-pages" class="storybook-pages-container">
    <div class="storybook-page-container">
        <div class="storybook-page-avatar-container">
            <div class="storybook-page-avatar">
                <img src="{{- 'PersonAvatar.png' | asset_url -}}" alt="Person Avatar Image" class="story-avatar-image">
            </div>
        </div>
        <div class="storybook-page-text-container">
            <div class="storybook-page-text">
                <p class="story-page-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum incidunt sapiente et
                    possimus reprehenderit praesentium, minus numquam? Exercitationem saepe iure maxime dolore. Ab
                    similique nobis architecto eaque maiores sapiente animi blanditiis necessitatibus ea, suscipit sint
                    asperiores reiciendis, minima dolores. Quisquam itaque, tempora laborum dolorum ex provident
                </p>
                <p class="story-page-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum incidunt sapiente et
                    possimus reprehenderit praesentium, minus numquam? Exercitationem saepe iure maxime dolore. Ab
                    similique nobis architecto eaque maiores sapiente animi blanditiis necessitatibus ea, suscipit sint
                    asperiores reiciendis, minima dolores. Quisquam itaque, tempora laborum dolorum ex provident
                </p>
                <p class="story-page-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum incidunt sapiente et
                    possimus reprehenderit praesentium, minus numquam? Exercitationem saepe iure maxime dolore. Ab
                    similique nobis architecto eaque maiores sapiente animi blanditiis necessitatibus ea, suscipit sint
                    asperiores reiciendis, minima dolores. Quisquam itaque, tempora laborum dolorum ex provident
                </p>
                <p class="story-page-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores nostrum incidunt sapiente et
                    possimus reprehenderit praesentium, minus numquam? Exercitationem saepe iure maxime dolore. Ab
                    similique nobis architecto eaque maiores sapiente animi blanditiis necessitatibus ea, suscipit sint
                    asperiores reiciendis, minima dolores. Quisquam itaque, tempora laborum dolorum ex provident
                </p>
            </div>
        </div>
    </div>
</div>