<div class="form__group">
        <div class="form__field">
            <label class="form__label form__label--align-center">
                Characteristics of 
                <span id="person_relationship_span"></span>
                <span id="person_name_span"></span>
                is
            </label>
        </div>
        <div class="form__field">
            <div class="select">
                <select id="storybookCharacteristics" name="Characteristics">
                    <option selected disabled value="">Select Characteristics</option>
                    <option value="Funny Laugh">Funny Laugh</option>
                    <option value="Loudest Burps/Farts">Loudest Burps/Farts</option>
                    <option value="Best Dancer">Best Dancer</option>
                    <option value="Loud Snorer">Loud Snorer</option>
                    <option value="Bad Singer">Bad Singer</option>
                    <option value="Humming">Humming</option>
                    <option value="Silly Yawn">Silly Yawn</option>
                    <option value="Strange Sneeze">Strange Sneeze</option>
                    <option value="Loud walker">Loud walker</option>
                    <option value="Silly Voices">Silly Voices</option>
                    <option value="Sips/Slurps">Sips/Slurps</option>
                    <option value="Groaning">Groaning</option>
                    <option value="Gum Chewer">Gum Chewer</option>
                    <option value="Picky Eater">Picky Eater</option>
                    <option value="Nail biter">Nail biter</option>
                    <option value="Very Stylish">Very Stylish</option>
                    <option value="Perfect sense of direction">Perfect sense of direction</option>
                    <option value="Can recite lines from movies and books">Can recite lines from movies and books</option>
                    <option value="Animal lover">Animal lover</option>
                    <option value="Falls asleep easily">Falls asleep easily</option>
                    <option value="Loves Computers">Loves Computers</option>
                    <option value="Collector">Collector</option>
                    <option value="So Funny">So Funny</option>
                    <option value="Superstitious">Superstitious</option>
                    <option value="Beautiful Handwriting">Beautiful Handwriting</option>
                    <option value="Fun Catchphrases">Fun Catchphrases</option>
                    <option value="Mr./Miss Fix It">Mr./Miss Fix It</option>
                    <option value="Good at Math">Good at Math</option>
                </select>
            </div>
        </div>
    </div>