<div class="form__group form__stacked">
    <div class="form__field">
        <label class="form__label">
            Choose Cover Material
        </label>
    </div>
    <div class="form__field">
        <div class="storybook__cover-material storybook__cover-material--softcover">
            <input id="softcover-type" name="Bookcover" type="radio" value="Softcover"/>
            <label for="softcover-type" class="form__label">
                Softcover
            </label>
        </div>
        <div class="storybook__cover-material storybook__cover-material--hardcover">
            <input id="hardcover-type" name="Bookcover" type="radio" value="Hardcover" checked/>
            <label for="hardcover-type" class="form__label">
                Hardcover
            </label>
        </div>
    </div>
</div>