<div class="form__group">
    <div class="form__field">
        Upload A Photo
    </div>

    <div class="form__field">
        <input required id="storybook__photo" type="file" name="properties[photo]" class="customer-photo">
        <label for="storybook__photo"><img alt="upload file" src="{{ 'upload-icon.jpg' | asset_img_url: 'master' }}"/></label>
    </div>
    <div class="form__field">
        Uploader
    </div>
</div>