<div class="storybook-cover-container">
    <div class="storybook-cover">
        <div class="storybook-cover-text-container half-width">
            <div class="storybook-cover-text">
                <p>
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur asperiores repellat voluptatum
                    voluptates quod ad consequuntur incidunt expedita commodi odit nulla cupiditate saepe doloribus id,
                    consequatur susipit, rerum dignissimos facilis fugit odio et, praesentium magnam nam? Quaerat sint
                    nostrum facilis door nihil quae odit, voluptatibus rerum ipsa iure non eum.
                </p>
            </div>
        </div>
        <div class="storybook-cover-option-container half-width">
            <div class="storybook-cover-option-inner">
                <div class="storybook-cover-option-text">
                    <p>CHOOSE COVER MATERIAL</p>
                </div>
                <div class="storybook-cover-option-choice">
                    <div class="storybook-cover-option-softcover-container">
                        <div class="storybook-cover-option-softcover">
                            <div class="storybook-cover-option-softcover-image">
                                <input id="softcover-type" name="Bookcover" type="radio" value="Softcover"/>
                                <label for="softcover-type">
                                    <div class="softcover-image-container"></div>
                                </label>
                            </div>
                            Softcover
                        </div>
                    </div>
                    <div class="storybook-cover-option-hardover-container">
                        <div class="storybook-cover-option-hardcover">
                            <div class="storybook-cover-option-hardcover-image">
                                <input id="hardcover-type" name="Bookcover" type="radio" value="Hardcover" checked/>
                                <label for="hardcover-type">
                                    <div class="hardcover-image-container"></div>
                                </label>
                            </div>
                            Hardcover
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>