<div class="form__group">
    <div class="form__field">
        <div class="storybook_gender-container">
            <div class="storybook_gender_text-container">
                <div class="storybook_gender-text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, unde! Voluptatem optio quia
                        iste
                        autem veniam, quaerat sit velit laborum commodi officiis quibusdam necessitatibus distinctio
                        neque
                        culpa reiciendis unde perferendis totam aspernatur aliquid ex eveniet accusantium, beatae ad
                        repellendus? Excepturi assumenda vel eveniet minima blanditiis? Laboriosam deserunt qui
                        cupiditate
                        esse veniam dolorum laudantium, quod necessitatibus, similique perspiciatis incidunt omnis eius.
                    </p>
                </div>
            </div>
            <div class="storybook_gender_selection-container">
                <div class="storybook_gender_selection">
                    <div class="storybook_gender_female-inner">
                        <div class="storybook_gender-female-image">
                            <img src="{{- 'gender-female-image.png' | asset_url -}}" alt="Female Character Pic">
                        </div>
                        <div class="storybook_gender-female-input" id ="gender-female-input">
                            <label class="storybook_gender_female">
                                <input type="radio" checked="checked" name="gender" value="female">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                    <div class="storybook_gender_male-inner">
                        <div class="storybook_gender-male-image">
                            <img src="{{- 'gender-male-image.png' | asset_url -}}" alt="Male Character Pic">
                        </div>
                        <div class="storybook_gender-male-input"  id ="gender-male-input">
                            <label class="storybook_gender_male">
                                <input type="radio" name="gender" value="male">
                                <span class="checkmark"></span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>