<div class="form__group">
    <div class="form__field">
        <label class="form__label form__label--align-center">This Story is about</label>
    </div>
    <div class="form__field">
        <div class="select">
            <select id="storybookOccupation" name="occupation">
                <option selected disabled>Select Occupation and Hobbies</option>
                <option value="Doctor">Doctor</option>
                <option value="Engineer">Engineer</option>
                <option value="Nurse">Nurse</option>
            </select>
        </div>
    </div>

    <div class="form__field">
        <input class="form__input" autocapitalize="off" autocorrect="off" placeholder="Enter the Occupation"
            aria-label="occupation of person" type="text" required />
    </div>
</div>