<div class="form__group form__stacked">
	<div class="form__field">
		<label class="form__label">Upload Photo of Loved One</label> 
    </div>
    
    <div class="form__field">
        <input id="storybook__photo" type="file" name="myImage" accept="image/*" class="customer-photo"  hidden>
        <label for="storybook__photo" class="form__label"> 
            <img class="storybook__photo--upload" src="{{- 'upload_icon.png' | asset_url -}}" alt="User Uploaded Pic" id="userUploadPic">
        </label>
    </div>
</div>