<div class="form__group">
    <div class="form__field">
        Upload A Photo
    </div>

    <div class="form__field">
        <div class="storybook_photoUpload_Input">
            <input required id="storybook__photo" type="file" name="properties[photo]" class="customer-photo">
            <label for="storybook__photo"> {{ 'crossSign.png' | asset_url | img_tag }}</label>
        </div>
    </div>
    <div class="form__field">
        Uploader
    </div>
</div>