<div class="form__group">
	<div class="form__field">
		<label class="form__label form__label--align-center">This Story is about</label> 
	</div>
	
	<div class="form__field">
		<div class="select">
	    	<select id="storybookRelationships" name="Relationships">
				<option selected disabled value="">Select relationship</option>
				<option value="Grandma">Grandma</option>
				<option value="Grandpa">Grandpa</option>
	            <option value="Mother">Mother</option>
	           	<option value="Father">Father</option>
	            <option value="Aunt">Aunt</option>
	        </select>
	    </div>
	</div>

	<div class="form__field">
		<input name="PersonName" class="form__input person_name_input" autocapitalize="off" autocorrect="off" placeholder="Enter name of person" aria-label="Name of person" type="text" required />
	</div>
</div>

