<div class="form__group">
	<div class="form__field">
		<label class="form__label">This Story is about</label> 
	</div>
	
	<div class="form__field">
		<div class="select">
	    	<select id="storybookRelationships" name="Relationships">
				<option selected disabled value="">Select relationship</option>
				<option value="Mother">Mother</option>
	           	<option value="Father">Father</option>
				<option value="Grandmother">Grandmother</option>
				<option value="Grandfather">Grandfather</option>
				<option value="Uncle">Uncle</option>
				<option value="Aunt">Aunt</option>
				<option value="Great Grandmother">Great Grandmother</option>
				<option value="Great Grandfather">Great Grandfather</option>
				<option value="Son">Son</option>
				<option value="Daughter">Daughter</option>
				<option value="Sister">Sister</option>
				<option value="Brother">Brother</option>
				<option value="Cousin">Cousin</option>
	        </select>
	    </div>
	</div>

	<div class="form__field">
		<input name="PersonName" class="form__input person_name_input" autocapitalize="off" autocorrect="off" placeholder="Enter name of person" aria-label="Name of person" type="text" required />
	</div>
</div>

