<div class="connect connect--page">
	<div class="cols cols--m-2 cols--100vh">
		<div class="col connect__option connect__option--register context--scienceBlue">
			<div class="container">
				<div class="connect__optionHeader">
					<h1 class="title title--small title--caps">Remembering A loved One</h1>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<div>
					<a href="{{ all_products['custom-storybook'].url }}" class="btn btn--scienceBlue"><span>Shop Now</span></a>
				</div>
			</div>
		</div>
		<div class="col context--lavenderFog">
			<div id="gallery" class="gallery">
				<div class="gallery__slide">
					<img class="gallery__imagery gallery__imagery--active" src="{{ 'home-test-img.jpg' | asset_img_url: 'master' }}" />
  				</div>
			</div>
		</div>
	</div>
</div>
