<div class="connect connect--page">

	<div class="cols cols--m-2">
		<div class="col connect__option connect__option--register" style="background-color: #096DC3; color: #FFFFFF;">
			<div class="container">
				<div class="connect__optionHeader">
					<h1 class="title title--small title--caps">Remembering A loved One</h1>
				</div>
				<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				<div>
					<a href="" class="btn btn-bg-science-blue"><span>Shop Now</span></a>
				</div>
			</div>
		</div>
		<div class="col" style="background-color: #DCD3FF;">
			<div id="gallery" class="gallery">
				<div class="gallery__slide">
					<img class="gallery__imagery gallery__imagery--active" src="{{ 'home-test-img.jpg' | asset_img_url: 'master' }}" />
  				</div>
  				<div class="gallery__slide">
					<img class="gallery__imagery gallery__imagery--active" src="{{ 'home-test-img-2.jpeg' | asset_img_url: 'master' }}" />
  				</div>
                <!--
  				<ul class="slide-dots">
				    <li class="dot">
				    	<button type="button">1</button>
				    </li>
				    <li class="dot">
				    	<button type="button">2</button>
				    </li>
				</ul>-->
			</div>
		</div>
	</div>

</div>

<!--
<div class="container">
	<div class="row">
		<section class="col bg-left">
			<div class="content-wrapper">
				<div class="content-inner">
					<div class="content">
						<h1>Remembering A loved One</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
						<a href="" class="btn btn-bg-science-blue"><span>Shop Now</span></a>
					</div>
				</div>
			</div>
		</section>
		<section class="col bg-right">
			<div id="gallery" class="gallery">
				<div class="slide">
					<img class="imagery" src="{{ 'home-test-img.jpg' | asset_img_url: 'master' }}" />
  				</div>
  				<div class="slide">
					<img class="imagery" src="{{ 'home-test-img-2.jpeg' | asset_img_url: 'master' }}" />
  				</div>
  				{% comment %}<ul class="slide-dots">
				    <li class="dot">
				    	<button type="button">1</button>
				    </li>
				    <li class="dot">
				    	<button type="button">2</button>
				    </li>
				</ul>{% endcomment %}
			</div>
		</section>
	</div>
</div>
-->
