<div class="grid">
    <div class="grid__sidebar u-desktop-only">
        <nav class="anchors-nav">
        	<ul>
        		<li>
        			<a class="anchors-nav__link smoothscroll" href="#dummy-section-1">Dummy Section #1</a>
        		</li>
        		<li>
        			<a class="anchors-nav__link smoothscroll" href="#dummy-section-2">Dummy Section #2</a>
        		</li>
        	</ul>
        </nav>
    </div>
    <div class="grid__main">
        <div class="grid__banner"></div>
        <div class="grid__header">
            <div class="grid__headerTitle"><h1 class="title title--medium title--caps">Privacy Policy</h1></div>
            <div class="grid__headerNav">
                <div class="grid__headerNavGroup">
                    <div class="select select--borderLess u-mobile-only">
                    	<select class="smoothscroll">
                    		<option value="#dummy-section-1">Dummy Section #1</option>
                    		<option value="#dummy-section-2">Dummy Section #2</option>
                    	</select>
                    </div>
                </div>
                <div class="grid__headerNavGroup"></div>
            </div>
        </div>
        <div class="grid__content">
            <div class="container container--medium container--left">
            	<div class="textual">
            		<section class="textual__section" id="dummy-section-1">
            			<h2 class="title title--small">Dummy Section #1</h2>
            			<h3 class="subtitle subtitle--small">Dummy Section #1 (Sub-Title 1)</h3>
            			<div>
            				<p>Nulla nisl enim, malesuada ut elit sit amet, tincidunt posuere enim. Sed at neque elit. Pellentesque varius, magna nec ultricies tristique, turpis augue vulputate neque, sit amet dictum massa arcu sollicitudin massa. Morbi blandit eget sapien nec faucibus.</p>
            			</div>
            			<h3 class="subtitle subtitle--small">Dummy Section #1 (Sub-Title 2)</h3>
            			<div>
            				<p>Nulla nisl enim, malesuada ut elit sit amet, tincidunt posuere enim. Sed at neque elit. Pellentesque varius, magna nec ultricies tristique, turpis augue vulputate neque, sit amet dictum massa arcu sollicitudin massa. Morbi blandit eget sapien nec faucibus.</p>
            			</div>
            		</section>
            		<section class="textual__section" id="dummy-section-2">
            			<h2 class="title title--small">Dummy Section #2</h2>
            			<div>
            				<p>Nulla nisl enim, malesuada ut elit sit amet, tincidunt posuere enim. Sed at neque elit. Pellentesque varius, magna nec ultricies tristique, turpis augue vulputate neque, sit amet dictum massa arcu sollicitudin massa. Morbi blandit eget sapien nec faucibus.</p>
            			</div>
            		</section>
            		<section class="textual__section">
            			<h2 class="title title--small">Dummy Section #2</h2>
            			<h3 class="subtitle subtitle--small">Dummy Section #1 (Sub-Title 1)</h3>
            			<div>
            				<p>Duis non tincidunt ex. Duis sit amet nisi at sapien aliquet porttitor a sed sem. Ut ultrices maximus arcu, at feugiat nibh pellentesque faucibus.</p>
            			</div>
            			<h3 class="subtitle subtitle--small">Dummy Section #2 (Sub-Title 2)</h3>
            			<div>
            				<p>Curabitur posuere dui id orci tempus venenatis. Aenean pulvinar finibus eros ac tempus. Duis scelerisque ultrices arcu non auctor. Morbi at magna vitae augue congue interdum in sit amet nisi.</p>
            			</div>
            			<h3 class="subtitle subtitle--small">Dummy Section #2 (Sub-Title 3)</h3>
            			<div>
            				<p>Duis non tincidunt ex. Duis sit amet nisi at sapien aliquet porttitor a sed sem. Ut ultrices maximus arcu, at feugiat nibh pellentesque faucibus.</p>
            			</div>
            			<h3 class="subtitle subtitle--small">Dummy Section #2 (Sub-Title 4)</h3>
            			<div>
            				<p>Curabitur posuere dui id orci tempus venenatis. Aenean pulvinar finibus eros ac tempus. Duis scelerisque ultrices arcu non auctor. Morbi at magna vitae augue congue interdum in sit amet nisi.</p>
            			</div>
            		</section>
            	</div>
            </div>
        </div>
    </div>
</div>
