<div class="container">
	<section class="layout-1">
		<div class="layout-1__content">
			<h1 class="title title--medium">Step 1</h1>
			<p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, ducimus tenetur repellat omnis quas deleniti vero enim 
                id nulla quia debitis, ipsum optio qui consectetur nobis perferendis modi harum distinctio?</p>
		</div>

		<div class="layout-1__content">
			<h1 class="title title--medium">Step 2</h1>
			<p class="desc">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, ducimus tenetur repellat omnis quas deleniti vero enim 
                id nulla quia debitis, ipsum optio qui consectetur nobis perferendis modi harum distinctio?</p>
		</div>
	</section> 
</div>