<div class="connect connect--page">
	<div class="cols cols--m-2 cols--100vh">
		<div class="col connect__option connect__option--register" style="background-color: #096DC3; color: #FFFFFF;">
			<div class="container">
				<div class="table__display">
					<div class="table__displayCell">
						<p class="desc">Do you have a question about your order or our products? Send us a message, we’d
							love to hear from you.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="col connect__option connect__option--register" style="background-color: #DCD3FF;">
			<div class="container">
				<div class="table__display">
					<div class="table__displayCell">
	        			<h3 class="title title--small title--caps">Contact</h3>
	        			<p class="desc">
							<a href="" class="link">example@example.com</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>