// various pages
.faq, .terms, .privacy {
    .grid {
        .grid__main {
            color: $theme-color-science-blue;
        }
        .grid__sidebar {
            background: $theme-color-science-blue;
        }
    }
    .anchors-nav {
        .anchors-nav__link {
            color: $theme-color-iceberg;
        }
    }
}

.about .container {
    margin-top: 40px;
}

// circle element
.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: block;
    padding: 20px;
    margin: 0 auto 10px;
    cursor: pointer;

    svg.download {
        width: 80%;
        height: 80%;
        margin: 0 auto;
        display: block;
        fill:#096DC3;
    }
    
    &--theme-white {
        color: $theme-color-science-blue;
        background-color: $theme-color-white;

    }
}

// layout-1
.layout-1 {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;

    &__content {
        margin-bottom: 20px;
    }

    &__img {
        padding: 0 10%;
    }
}
